Repository bounswe/bounswe2019group6, pull requests merged in 2019-10, with the labels that each got.

#105 Backend email
  backend/TraderX/.gitignore
  backend/TraderX/README.md
  backend/TraderX/pom.xml
  backend/TraderX/src/main/java/cmpe451/group6/Group6BackendService.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/configuration/SwaggerConfig.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/controller/LoginController.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/controller/PasswordController.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/controller/SignupController.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/controller/UserController.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/dto/StringResponseWrapper.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/dto/TokenWrapperDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/dto/UserDataDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/email/EmailService.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/email/EmailServiceConfig.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/exception/GlobalExceptionHandlerController.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/model/RegistrationStatus.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/model/User.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/security/JwtTokenFilter.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/security/JwtTokenProvider.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/security/WebSecurityConfig.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/service/LoginService.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/service/PasswordService.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/service/SignupService.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/service/UserService.java
Labels: related:backend, type:new-feature

#99 Add template endpoint.
  backend/TraderX/src/main/java/cmpe451/group6/authorization/model/User.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/template/controller/TemplateController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/template/dto/TemplateItemResponseDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/template/model/TemplateItem.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/template/repository/TemplateItemRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/template/service/TemplateItemService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/trial/.placeholder
  backend/TraderX/src/main/java/cmpe451/group6/rest/trial/controller/TrialController.java
Labels: do not merge, related:backend

#120 Move login request parameters to request body.
  backend/TraderX/src/main/java/cmpe451/group6/authorization/controller/LoginController.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/dto/LoginInfoDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/service/LoginService.java
Labels: related:backend

#121 Backend profile
  backend/TraderX/src/main/java/cmpe451/group6/Group6BackendService.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/controller/LogoutController.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/controller/PasswordController.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/controller/UserController.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/dto/PasswordDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/dto/PrivateProfileDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/dto/UserDataDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/dto/UserResponseDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/model/User.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/repository/UserRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/security/JwtTokenFilter.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/security/WebSecurityConfig.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/service/PasswordService.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/service/SignupService.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/service/UserService.java
  backend/TraderX/src/main/resources/application.yml
Labels: related:backend

#125 Adding features for user follow-following system
  backend/TraderX/src/main/java/cmpe451/group6/rest/follow/DTO/FolloweeDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/follow/controller/FollowController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/follow/model/FollowDAO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/follow/repository/FollowRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/follow/service/FollowService.java
Labels: do not merge, priority:high, related:backend, status:in-progress

#124 Added home page to views.
  frontend/TraderX/src/permission.js
  frontend/TraderX/src/router/index.js
  frontend/TraderX/src/views/home/index.vue
Labels: priority:high, related:frontend, status:needs-review, type:new-feature

#131 Add Google token fields
  backend/TraderX/src/main/java/cmpe451/group6/authorization/controller/LoginController.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/controller/SignupController.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/dto/LoginInfoDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/dto/UserDataDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/model/User.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/service/LoginService.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/service/PasswordService.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/service/SignupService.java
  backend/TraderX/src/main/resources/application.yml
Labels: related:backend

#129 (Backend)- User follow-following system
  backend/TraderX/src/main/java/cmpe451/group6/Group6BackendService.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/model/User.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/service/LoginService.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/service/SignupService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/follow/DTO/FolloweeDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/follow/controller/FollowController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/follow/model/FollowDAO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/follow/model/FollowStatus.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/follow/repository/FollowRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/follow/service/FollowService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/trial/.placeholder
  backend/TraderX/src/main/resources/application.yml
Labels: do not merge, priority:medium, related:backend, status:needs-review, type:discussion / question, type:enhancement

#132 Add edit profile page
  frontend/TraderX/src/layout/components/Navbar.vue
  frontend/TraderX/src/store/modules/user.js
  frontend/TraderX/src/utils/index.js
  frontend/TraderX/src/views/profile/components/Editprofile.vue
  frontend/TraderX/src/views/profile/components/Portfolio.vue
  frontend/TraderX/src/views/profile/components/UserCard.vue
  frontend/TraderX/src/views/profile/index.vue
Labels: priority:medium, related:frontend, review, status:has PR
