Repository bounswe/bounswe2019group6, pull requests merged in 2019-11, with the labels that each got.

#182 Create comment service and endpoints
  backend/TraderX/src/main/java/cmpe451/group6/Group6BackendService.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/model/User.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/service/UserService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/controller/CommentController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/model/CommentRequestDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/model/CommentResponseDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/model/EquipmentComment.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/repository/EquipmentCommentRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/service/EquipmentCommentService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/controller/EquipmentController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/dto/Currency3rdPartyDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/dto/CurrencyHistory3rdPrtyDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/dto/EquipmentHistoryDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/dto/EquipmentResponseDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/model/Equipment.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/model/HistoricalValue.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/repository/EquipmentRepsitory.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/repository/HistoricalValueRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/service/EquipmentService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/service/EquipmentUpdateService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/follow/service/FollowService.java
  backend/TraderX/src/main/resources/application.yml
Labels: related:backend, type:new-feature

#178 Backend trade transaction functionalities
  backend/TraderX/src/main/java/cmpe451/group6/Group6BackendService.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/model/User.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/asset/model/Asset.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/asset/repository/AssetRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/service/EquipmentCommentService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/model/Equipment.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/repository/EquipmentRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/service/EquipmentService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/service/EquipmentUpdateService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/transaction/controller/TransactionController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/transaction/dto/TransactionDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/transaction/model/Transaction.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/transaction/model/TransactionType.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/transaction/repository/TransactionRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/transaction/service/TransactionService.java
Labels: priority:high, related:backend, status:needs-review, type:new-feature

#185 Follow System and Portfolio Creation
  frontend/TraderX/.gitignore
  frontend/TraderX/src/api/user.js
  frontend/TraderX/src/components/CoolCard/index.vue
  frontend/TraderX/src/store/modules/user.js
  frontend/TraderX/src/views/profile/components/Editprofile.vue
  frontend/TraderX/src/views/profile/components/Portfolio.vue
  frontend/TraderX/src/views/profile/components/UserCard.vue
  frontend/TraderX/src/views/profile/index.vue
  frontend/TraderX/src/views/search/index.vue
  frontend/TraderX/src/views/user-profile/index.vue
Labels: priority:medium, related:frontend, type:new-feature

#201 [Backend] Alert endpoint
  backend/TraderX/src/main/java/cmpe451/group6/Group6BackendService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/alert/controller/AlertController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/alert/dto/AlertDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/alert/dto/AlertEditDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/alert/dto/AlertResponseDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/alert/model/Alert.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/alert/model/AlertType.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/alert/repository/AlertRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/alert/service/AlertService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/dto/EquipmentResponseDTO.java
Labels: priority:high, related:backend, type:new-feature

#225 Portfolio Facility
  backend/TraderX/src/main/java/cmpe451/group6/authorization/model/User.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/controller/EquipmentController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/service/EquipmentService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/portfolio/controller/PortfolioController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/portfolio/dto/PortfolioEquipmentDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/portfolio/dto/PortfolioResponseDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/portfolio/model/Portfolio.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/portfolio/repository/PortfolioRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/portfolio/service/PortfolioService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/transaction/controller/TransactionController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/transaction/repository/TransactionRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/transaction/service/TransactionService.java
Labels: priority:high, related:backend
