Repository bounswe/bounswe2019group6, pull requests merged in 2019-12, with the labels that each got.

#242 password regex synced with backend, related tests updated
  android/TraderX/app/src/main/java/com/traderx/ui/auth/signup/SignUpValidator.kt
  android/TraderX/app/src/test/java/com/traderx/ui/auth/signup/SignUpValidatorTest.kt
  android/TraderX/app/src/test/java/com/traderx/ui/auth/signup/SingUpValidatorTest.kt
Labels: priority:high, related:android, type:bug

#237 Portfolio(Endpoint): Get all Portfolios Functionality
  backend/TraderX/src/main/java/cmpe451/group6/authorization/model/User.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/portfolio/controller/PortfolioController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/portfolio/dto/PortfolioNamesDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/portfolio/repository/PortfolioRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/portfolio/service/PortfolioService.java
Labels: priority:medium, related: feedback, related:backend, status:completed, status:needs-review

#245 [Backend] Add prediction service
  backend/TraderX/src/main/java/cmpe451/group6/Group6BackendService.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/dto/UserResponseDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/service/UserService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/repository/HistoricalValueRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/service/EquipmentUpdateService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/predict/controller/PredictionController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/predict/dto/ListResponseWrapper.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/predict/dto/PredictionDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/predict/dto/PredictionStatsDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/predict/model/Prediction.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/predict/repository/PredictionRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/predict/service/PredictionService.java
Labels: related:backend, type:new-feature

#255 [Backend] Add vote service for comments
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/controller/CommentController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/model/CommentResponseDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/model/CommentVote.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/repository/CommentVoteRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/service/EquipmentCommentService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/equipment/model/Equipment.java
Labels: related:backend, type:new-feature

#264 portfolio(bug-fix): issued at #263, add enpoint
  backend/TraderX/src/main/java/cmpe451/group6/rest/portfolio/model/Portfolio.java
Labels: bug-fix, priority:high, related: feedback, related:backend, status:needs-review

#259 Transactions are modified in order to make basic users to be able to …
  backend/TraderX/src/main/java/cmpe451/group6/rest/transaction/controller/TransactionController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/transaction/service/TransactionService.java
Labels: priority:high, related:backend, status:has PR, status:needs-review

#260 Backend article
  backend/TraderX/src/main/java/cmpe451/group6/helpers/CustomModelMapper.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/article/controller/ArticleController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/article/dto/ArticleDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/article/dto/ArticleInfoDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/article/model/Article.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/article/repository/ArticleRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/article/service/ArticleService.java
Labels: priority:high, related:backend, status:needs-review

#262 [Backend] Notification service
  backend/TraderX/src/main/java/cmpe451/group6/rest/alert/service/AlertService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/follow/service/FollowService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/notification/Notification.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/notification/NotificationController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/notification/NotificationDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/notification/NotificationRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/notification/NotificationService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/notification/NotificationType.java
Labels: related:backend, type:new-feature

#274 [Backend] Event service
  backend/TraderX/src/main/java/cmpe451/group6/Group6BackendService.java
  backend/TraderX/src/main/java/cmpe451/group6/authorization/security/WebSecurityConfig.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/event/controller/EventController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/event/model/EventsJson.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/event/repository/EventRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/event/service/EventService.java
Labels: related:backend, type:new-feature

#276 All search functionalities for user, equipment and article implemented.
  backend/TraderX/src/main/java/cmpe451/group6/helpers/CustomModelMapper.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/search/controller/SearchController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/search/dto/ArticleSearchDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/search/dto/EquipmentSearchDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/search/dto/UserSearchDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/search/repository/SearchArticleRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/search/repository/SearchEquipmentRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/search/repository/SearchUserRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/search/service/SearchService.java
Labels: priority:high, related:backend, status:needs-review, type:new-feature

#290 [Backend] Comment on article service
  backend/TraderX/src/main/java/cmpe451/group6/authorization/service/UserService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/controller/CommentController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/model/article/ArticleComment.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/model/article/ArticleCommentResponseDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/model/article/ArticleCommentVote.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/model/equipment/EquipmentComment.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/model/equipment/EquipmentCommentResponseDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/model/equipment/EquipmentCommentVote.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/repository/CommentVoteRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/repository/article/ArticleCommentRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/repository/article/ArticleCommentVoteRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/repository/equipment/EquipmentCommentRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/repository/equipment/EquipmentCommentVoteRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/service/article/ArticleCommentService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/comment/service/equipment/EquipmentCommentService.java
Labels: related:backend, type:new-feature

#299 Annotation Facility
  backend/TraderX/src/main/java/cmpe451/group6/rest/annotation/controller/AnnotationController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/annotation/dto/AnnotationDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/annotation/model/Annotation.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/annotation/repository/AnnotationRepository.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/annotation/service/AnnotationService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/article/model/Article.java
Labels: priority:critical, related:backend, status:completed, status:needs-review, type:new-feature

#303 Annotation: Feedback Related Change
  backend/TraderX/src/main/java/cmpe451/group6/rest/annotation/controller/AnnotationController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/annotation/service/AnnotationService.java
Labels: related: feedback, related:backend

#302 Backend image upload
  backend/TraderX/pom.xml
  backend/TraderX/src/main/java/cmpe451/group6/rest/article/controller/ArticleController.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/article/dto/ArticleDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/article/dto/ArticleInfoDTO.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/article/model/Article.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/article/service/ArticleService.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/aws/AmazonClient.java
  backend/TraderX/src/main/java/cmpe451/group6/rest/aws/ImageUploadController.java
  backend/TraderX/src/main/resources/application.yml
Labels: priority:high, related:backend, status:completed, type:new-feature
